body {
    display: flex;
  }
  
  #map {
    height: 100vh;
    width: 80%; /* Adjust width to leave space for the paths section */
  }
  
  #pathsSection {
    width: 20%; /* This will take up 20% of the page width */
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: #f4f4f4;
    height: 100vh;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  #toggleButton {
    background-color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    width: 100%;
    text-align: center;
  }
  
  #pathsSection h2 {
    margin-top: 0;
  }
  